* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* Ensure proper font-family usage */
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #40E0D0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
}

.to-do {
    width: 100%;
    max-width: 540px;
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do h2 {
    color: #201E43;
    /* Fixed color code */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: rgb(237, 238, 240);
}

input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    font-weight: 450;
}

button {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #1E201E;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 17px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}